.Projects {
  margin: 10% 0% 5% 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "header projects-main"
}

header {
  grid-area: header;
}

.projects-main {
  grid-area: projects-main;
}

.project:first-child {
  margin-top: 0.5em; /* To match up with header */
}

.projects-main:not(:last-child) {
  margin-bottom: 3em;
}
