/* Html elements */
b {
  font-weight: 900;
  color: #ffffff;
}


/* Classes */
.Welcome {
  font-size: 1.5em;
  margin: 10% 0 5% 0;
  display: grid;
  border: 1px solid red;
  grid-template-columns: auto;
  grid-template-rows: 2fr 3fr 3fr;
  grid-template-areas:
    "typing"
    "image"
    "description";
}


/* Ids */
#welcome-intro-description {
  padding: 0.2em 0em 0em 0em;
  grid-area: description;
}

#typed {
  grid-area: typing;
  font-size: 1.5em;
  word-break: break-word;
  overflow: hidden;
}

#alien-pic {
  max-width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: image;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  .Welcome {
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
      "typing typing"
      "description image";
  }
  #welcome-intro-description {
    line-height: 1.8em;
  }
}
