/* Classes */
.Welcome {
  font-size: 1.5em;
  margin: 10% 0 5% 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "typing"
    "image"
    "description";
}


/* Ids */
#welcome-intro-description {
  padding: 0.2em 0em 0em 0em;
  grid-area: description;
}

#typed {
  grid-area: typing;
  font-size: 1.5em;
  overflow-wrap: break-word;
  overflow: hidden;
}

#alien-pic {
  max-width: 30%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  grid-area: image;
}

/* Responsive design */
@media screen and (min-width: 368px) {  /* Don't know why problems started at this breakpoint. Welcome too tall. */
  .Welcome {
    grid-template-rows: 1fr 1fr 1.5fr;
  }

  #alien-pic {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 436px) {  /* Don't know why problems started at this breakpoint. Welcome too tall. */
  .Welcome {
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 612px) {  /* Don't know why problems started at this breakpoint. Welcome too tall. */
  .Welcome {
    grid-template-rows: 1fr 2fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .Welcome {
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
      "typing typing"
      "description image";
  }

  #alien-pic {
    max-width: 50%;
  }

  #welcome-intro-description {
    line-height: 1.8em;
  }
}
