body {
  background: #0f1217;
  font-family: 'Raleway', sans-serif;
  color: #C8C8C8;
}

header {
  font-size: 2em;
  grid-area: header;
}

.terminal {
  color: #33FF00;  /* Make this color into a global variable */
  font-family: 'VT323', monospace;
}

.App {
  margin: 0% 7% 0% 7%;
}

main > * {
  margin-top: 7em;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.5em;
    margin-top: 12%;
  }
}
