.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  grid-template-areas:
   "header ."
   "languages frameworks"
   "libraries tools";
}

.skills-heading > h3 {
  line-height: 0px;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-list > li {
  font-size: 80%;
}

#skills-languages {
  grid-area: languages;
}

#skills-frameworks {
  grid-area: frameworks;
}

#skills-libraries {
  grid-area: libraries;
}

#skills-tools {
  grid-area: tools;
}

/* Responsive design */
@media screen and (min-width: 992px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    grid-template-areas:
      "header languages frameworks libraries tools";
  }
}
