.About {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
    "header main";
}

header {
  grid-area: header;
  font-size: 2em;
}

.About > div {
  grid-area: main;
}

p:first-child {
  margin-top: 0.5em; /* To match up with header */
}

@media screen and (min-width: 768px) {
  .About {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }
}
