.About {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  grid-template-areas:
    "header ."
    "main main";
}

.About > div {
  grid-area: main;
}

p:first-child {
  margin-top: 0;
}


@media screen and (min-width: 768px) {
  .About {
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 0;
    grid-template-areas:
      "header main";
  }

  p:first-child {
    margin-top: 0.5em; /* To match up with header */
  }
}
