.Contact {
  text-align: center;
}

.Contact > header {
  font-size: 3em;
}

.font-awesome {
  color: rgb(150, 150, 150);
  margin-right: 1em;
}

.font-awesome:hover {
  color: #33FF00;
}

.Contact > img {
  width: 10%;
}
.Contact > img:hover {
  cursor: pointer;
}

.Contact > p {
  font-family: 'Abel', sans-serif;
  color: rgb(150, 150, 150);
  font-size: 70%;
}

.Contact > * {
  margin-bottom: 0.7em;
}
